<div class="container" ng-controller="loginCtrl">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
				<div class="alert alert-danger alert-dismissable" style="display:none;" id="loginerror">
					<strong>Error!</strong> Invalid username and password
				</div>
				<div class="row">
					<div class="control-group col-lg-3">
					  <!-- Username -->
					  <label class="control-label"  for="username">Username</label>
					  <div class="controls">
						<input type="text" id="username" name="username" placeholder="" class="form-control" autofocus="" ng-model="username">
					  </div>
					</div>
			    </div>
				<div class="row">
					<div class="control-group col-lg-3">
					  <!-- Password-->
					  <label class="control-label" for="password">Password</label>
					  <div class="controls">
						<input type="password" id="password" name="password" placeholder="" class="form-control" ng-model="password">
					  </div>
					</div>
			    </div>
				<br/>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
				  <button class="btn btn-success" ng-click="submit()" type="button">Login</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>